<table>
  {% set names = ["id", "name", "category", "class", "rank",
  "ex_category", "ex_enable", "ex_num",
  "avoidance", "counter", "critical", "disable", "guard",
  "hit", "hp", "multi", "recovery", "recovery_rate",
  "d_blind", "d_dizzy", "d_infection", "d_paralysis", "d_poison",
  "d_seal", "d_slack", "d_sleep", "damC", "damP", "defC", "defP",
  "e_drop", "e_exp", "p_damC", "p_damP", "p_defC", "p_defP", "p_hp",
  "p_recovery", "p_recovery_rate",
  "skill1", "skill2", "skill3",
  "sort", "target", "target_club", "terms_hp", "terms_type",
  "comment"] %}
  <thead>
    <tr>
    {% for name in names %}
    <th>{{ name }}</th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for item in data %}
    <tr>
      {% for name in names %}
      <td>{{ item[name] }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
