{% extends "base.html" %}
{% set title = "防具リスト : 感染×少女SP版 DB" %}
{% block content %}
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>レア</th>
      <th>ランク</th>
      <th>名前</th>
      <th>種別</th>
      <th>物防</th>
      <th>化防</th>
      <th>物攻</th>
      <th>化攻</th>
      <th>HP</th>
      <th>敏捷</th>
      <th>命中</th>
      <th>回避</th>
      <th>防御</th>
      <th>反撃</th>
      <th>強撃</th>
      <th>コメント</th>
      <th>説明</th>
      <th>強化元</th>
      <th>消費</th>
    </tr>
  </thead>
  <tbody>
    {% for idx in data["Armor"].index %}
    {% set armor = data["Armor"].loc[idx] %}
    <tr>
      <td>{{ idx }}</td>
      <td>{{ rare[armor.rare] }}</td>
      <td>{{ rank[armor["rank"]] }}</td>
      <td>{{ armor["name"] }}</td>
      <td>{{ armor.kind }}</td>
      <td class="r">{{ armor.defP }}</td>
      <td class="r">{{ armor.defC }}</td>
      <td class="r">{{ armor.damP }}</td>
      <td class="r">{{ armor.damC }}</td>
      <td class="r">{{ armor.max_hp }}</td>
      <td class="r">{{ armor.speed }}</td>
      <td class="r">{{ armor.hit }}</td>
      <td class="r">{{ armor.avoidance }}</td>
      <td class="r">{{ armor.guard }}</td>
      <td class="r">{{ armor.counter }}</td>
      <td class="r">{{ armor.critical }}</td>
      <td>{{ armor.comment }}</td>
      <td>{{ armor.description }}</td>
      {% set im = data["ItemMake"][data["ItemMake"].type == 3] %}
      {% set baseitem = im[(im.make_id == idx)] %}
      {% if baseitem.empty %}
        <td><br /></td><td><br /></td>
      {% else %}
        <td>
          {{ data["Armor"].loc[baseitem.index.values[0]]["name"] }}[{{ baseitem.index.values[0] }}]
        </td>
        <td>
          {% set m1 = baseitem.material1.values[0] %}
          {% if m1 != 0 %}
          {{ data["Item"].loc[m1]["name"] }}x{{ baseitem.material1_num.values[0] }}
          {% endif %}
          /
          {% set m2 = baseitem.material2.values[0] %}
          {% if m2 != 0 %}
          {{ data["Item"].loc[m2]["name"] }}x{{ baseitem.material2_num.values[0] }}
          {% endif %}
          /
          {% set m3 = baseitem.material3.values[0] %}
          {% if m3 != 0 %}
          {{ data["Item"].loc[m3]["name"] }}x{{ baseitem.material3_num.values[0] }}
          {% endif %}
          /
          {% set m4 = baseitem.material4.values[0] %}
          {% if m4 != 0 %}
          {{ data["Item"].loc[m4]["name"] }}x{{ baseitem.material4_num.values[0] }}
          {% endif %}
          /
          {% set m5 = baseitem.material5.values[0] %}
          {% if m5 != 0 %}
          {{ data["Item"].loc[m5]["name"] }}x{{ baseitem.material5_num.values[0] }}
          {% endif %}
	  + {{ baseitem.money.values[0] }}マニー

        </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
