{% extends "base.html" %}
{% set title = "キャラリスト : 感染×少女SP版 DB" %}
{% block content %}
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>レア</th>
      <th>ランク</th>
      <th>名前(読み)</th>
      <th>部活</th>
      <th>スキル</th>
      <th>アビリティ</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    {% for idx in data["Chara"].index %}
    {% set chara = data["Chara"].loc[idx] %}
    {% set skill_dummy = {"name":"", "comment":"", "stg2_commen
      t": "", "stg3_comment": ""} %}
    {% if chara.skill1 %}
      {% if chara.skill1 in data["Skill"].index %}
        {% set skill = data["Skill"].loc[chara.skill1] %}
      {% else %}
        {% set skill = skill_dummy %}
      {% endif %}
    {% else %}
      {% set skill = skill_dummy %}
    {% endif %}
    {% set ignore_abilities_bak = [12401, 12501, 12601, 12701] %}
    {% set ignore_abilities = [] %}
    {% set ability = data["Ability"].loc[chara.ability] if chara.ability > 0 and chara.ability not in ignore_abilities else {"name":""}%}
    {% set abilities = data["Ability"][data["Ability"].category == ability.category] if chara.ability > 0 and chara.ability not in ignore_abilities else {"index": []} %}
    <tr>
      <td><a href="{{ url_for("chara", id_=idx) }}">{{ idx }}</a></td>
      <td>{{ rare[chara.rare] }}</td>
      <td>{{ rank[chara["rank"]] }}</td>
      <td>{{ chara["name"] }}<br/>({{ chara.kana }})</td>
      <td>{{ club[chara.club] }}</td>
      <td><b>{{ skill["name"] }}</b><br>
      {{ chara.s_lv1 }}% | {{ skill.comment }}<br>
      {{ chara.s_lv2 }}% | {{ skill.stg2_comment }}<br>
      {{ chara.s_lv3 }}% | {{ skill.stg3_comment }}</td>
      <td>
        {{ ability["name"] }}<br>
        {% for abidx in abilities.index %}
        {{ data["Ability"].loc[abidx].comment }}<br>
        {% endfor %}
      </td>
      <td>
        <table>
          <tr>
            <th></th>
            <th>HP</th>
            <th>物攻</th>
            <th>物防</th>
            <th>化攻</th>
            <th>化防</th>
          </tr>
          <tr>
            <td>min</td>
            <td>{{ chara.minHP }}</td>
            <td>{{ chara.minAP }}</td>
            <td>{{ chara.minDP }}</td>
            <td>{{ chara.minAC }}</td>
            <td>{{ chara.minDC }}</td>
          </tr>
          <tr>
            <td>max</td>
            <td>{{ chara.maxHP }}</td>
            <td>{{ chara.maxAP }}</td>
            <td>{{ chara.maxDP }}</td>
            <td>{{ chara.maxAC }}</td>
            <td>{{ chara.maxDC }}</td>
          </tr>
        </table>
        <table>
          <tr>
            <th>敏捷</th>
            <th>回避</th>
            <th>防御</th>
            <th>反撃</th>
            <th>命中</th>
            <th>強撃</th>
          </tr>
          <tr>
            <td>{{ chara.speed }}</td>
            <td>{{ chara.avoidance }}</td>
            <td>{{ chara.guard }}</td>
            <td>{{ chara.counter }}</td>
            <td>{{ chara.hit }}</td>
            <td>{{ chara.critical }}</td>
          </tr>
        </table>
      </td>
      {% set im = data["ItemMake"][data["ItemMake"].type == 1] %}
      {% set baseitem = im[(im.make_id == idx)] %}
      {% if baseitem.empty or not baseitem.index.values[0] in data["Chara"].index %}
        <td><br /></td><td><br /></td>
      {% else %}
        <td>
          {% set m1 = baseitem.material1.values[0] %}
          {% if m1 != 0 %}
          {{ data["Item"].loc[m1]["name"] }}x{{ baseitem.material1_num.values[0] }}
          {% endif %}
          /
          {% set m2 = baseitem.material2.values[0] %}
          {% if m2 != 0 %}
          {{ data["Item"].loc[m2]["name"] }}x{{ baseitem.material2_num.values[0] }}
          {% endif %}
          /
          {% set m3 = baseitem.material3.values[0] %}
          {% if m3 != 0 %}
          {{ data["Item"].loc[m3]["name"] }}x{{ baseitem.material3_num.values[0] }}
          {% endif %}
          /
          {% set m4 = baseitem.material4.values[0] %}
          {% if m4 != 0 %}
          {{ data["Item"].loc[m4]["name"] }}x{{ baseitem.material4_num.values[0] }}
          {% endif %}
          /
          {% set m5 = baseitem.material5.values[0] %}
          {% if m5 != 0 %}
          {{ data["Item"].loc[m5]["name"] }}x{{ baseitem.material5_num.values[0] }}
          {% endif %}

        </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
