{% extends "base.html" %}
{% set chara = data["Chara"].loc[id_] %}
{% set title = chara["name"] + " : 感染×少女SP版 DB" %}
{% block content %}
{% autoescape false %}
{{ data["Chara"].loc[[id_]].to_html() }}
{% endautoescape %}

<table style="border: 2px">
  <tr>
    <th>名前</th>
    <td>{{ chara["name"] }} ({{ chara["kana"] }})</td>
  </tr>
  <tr>
    <th>スキル</th>
    <td>
    {% if chara["skill1"] in [0, 191505, 193505, 194505, 206505, 13901]%}
      なし？
    {% else %}
    {% set skill = data["Skill"].loc[chara["skill1"]] %}
      <table>
        <tr>
          <th>スキル名</th>
          <td>{{ skill["name"] }}</td>
        </tr>
        <tr>
          <th>St1</th>
          <td>{{ skill.comment }}</td>
        </tr>
        <tr>
          <th>St2</th>
          <td>{{ skill.stg2_comment }}</td>
        </tr>
        <tr>
          <th>St3</th>
          <td>{{ skill.stg3_comment }}</td>
        </tr>
	<tr>
          <th>Enchant</th>
	  {% set enchants = data["Enchant"] %}
	  <td>
            {% autoescape false %}
	    {{ enchants[enchants.id_category == skill.name].to_html() }}
	    {% endautoescape %}
	  </td>
        </tr>
      </table>
    {% endif %}
    </td>
  </tr>
  <tr>
    <th>アビリティ</th>
    <td>
	    {% set ignore_bak = [12401, 12501, 12601, 12701, 13901] %}
      {% set ignore = [] %}
	    {% if chara["ability"] > 0 and chara["ability"] not in [13901] %}
    {% set ability = data["Ability"].loc[chara["ability"]] %}
      {{ ability["name"] }} / {{ ability.comment }}
    {% endif %}
    </td>
  </tr>
  <tr>
    <th>発症</th>
    <td>
      <a href="{{ url_for( "enemy", eid=chara["enemy_id"]) }}">{{ chara["enemy_id"] }}</a>
</table>

{% endblock %}
