{% extends "base.html" %}
{% set title = "DNAリスト : 感染×少女SP版 DB" %}
{% block content %}
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>レア</th>
      <th>ランク</th>
      <th>名前</th>
      <th>クラス</th>
      <th>カテゴリ</th>
      <th>物攻</th>
      <th>化攻</th>
      <th>命中</th>
      <th>回避</th>
      <th>突破力</th>
      <th>突破率</th>
      <th>コメント</th>
      <th>説明</th>
    </tr>
  </thead>
  <tbody>
    {% for idx in data["Dna"].index %}
    {% set dna = data["Dna"].loc[idx] %}
    <tr>
      <td>{{ idx }}</td>
      <td>{{ rare[dna.rare] }}</td>
      <td>{{ rank[dna["rank"]] }}</td>
      <td>{{ dna["name"] }}</td>
      <td>{{ dna["class"] }}</td>
      <td>{{ dna.category }}</td>
      <td class="r">{{ dna.damP }}</td>
      <td class="r">{{ dna.damC }}</td>
      <td class="r">{{ dna.hit_rate }}</td>
      <td class="r">{{ dna.skill1 }}</td>
      <td class="r">{{ dna.skill2 }}</td>
      <td class="r">{{ dna.skill3 }}</td>
      <td>{{ dna.comment }}</td>
      <td>{{ dna_effect(dna) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
