{% extends "base.html" %}
{% set enemy = data["Enemy"].loc[eid] %}
{% set title = enemy["name"] + " : 感染×少女SP版 DB" %}

{% macro show_enemy_action(action_id) %}
  <table class="table">
  {% set action = data["EnemyAction"].loc[action_id] %}
  <tr><td rowspan="{{ 3 if action["pattern3"] else 2 if action["pattern2"] else 1}}">HP:{{ action["action_hp"] }}% (ID: {{ action_id }})</td>
  <td>パターン1({{ action["pattern1_rate"] }}%)
  <span>{{ action["pattern1"] }}</span>
  </td>
  <td>
  {% set skill_list = action["pattern1"].split("-") %}
  {% for s in skill_list %}
    {% if s != "0" and s != 0 %}
      {{ show_enemy_skill(s | int) }}
    {% else %}
      <table class="table"><tr><td>通常攻撃</td></tr></table>
    {% endif %}
  {% endfor %}
  </td></tr>
  {% if action["pattern2"] %}
    <tr>
    <td>パターン2({{ action["pattern2_rate"] }}%)
    <span>{{ action["pattern2"] }}</span>
    </td>
    <td>
    {% set skill_list = action["pattern2"].split("-") %}
    {% for s in skill_list %}
      {% if s != "0" and s != 0 %}
        {{ show_enemy_skill(s | int) }}
      {% else %}
        <table class="table"><tr><td>通常攻撃</td></tr></table>
      {% endif %}
    {% endfor %}
    </td></tr>
  {% endif %}
  {% if action["pattern3"] %}
    <tr>
    <td>パターン3({{ action["pattern3_rate"] }}%)
    <span>{{ action["pattern3"] }}</span>
    </td>
    <td>
    {% set skill_list = action["pattern3"].split("-") %}
    {% for s in skill_list %}
      {% if s != "0" and s != 0 %}
        {{ show_enemy_skill(s | int) }}
      {% else %}
        <table class="table"><tr><td>通常攻撃</td></tr></table>
      {% endif %}
    {% endfor %}
    </td></tr>
  {% endif %}
{% endmacro %}

{% macro show_enemy_skill(skill_id) %}
{% if skill_id not in  [0, 6921, 9998] %}
{% set skill = data["EnemySkill"].loc[skill_id] %}
<table class="table">
  <tr><th>ID</th><td>{{ skill_id }}</td></tr>
  <tr><th>スキル名</th><td>{{ skill["name"] }}</td></tr>
  <tr><th>コメント</th><td>{{ skill["comment"] }}</td></tr>
  <tr><th>メッセージ</th><td>{{ skill["message1"] }}<hr>{{ skill["message2"]  }}</td></tr>
  <tr><th>倍率</th><td>物攻:{{ skill["mod_damP"] }} 化攻:{{ skill["mod_damC"] }}</td></tr>
</table>
{{ skill }}
{% endif %}
{% endmacro %}

{% block content %}
{% autoescape false %}
{{ data["Enemy"].loc[[eid]].transpose().to_html() }}
{% endautoescape %}

{% if enemy["preemptive_action"] != 0 %}
<h3>登場時アクション</h3>
{{ show_enemy_skill(enemy["preemptive_action"]) }}
{% endif %}

<h2>action</h2>
{% set actions = data["EnemyAction"][data["EnemyAction"]["action_id"] == enemy["action_id"]] %}
<div>HP:
{% for hp in actions["action_hp"] %}
{{ hp }}%
{% endfor %}
</div>

<table class="table">
{% for action_id in actions.index if action_id not in [334, 331] %}
{% set action = data["EnemyAction"].loc[action_id] %}
<tr><td rowspan="{{ 3 if action["pattern3"] else 2 if action["pattern2"] else 1}}">HP:{{ action["action_hp"] }}% (ID: {{ action_id }})</td>
<td>パターン1({{ action["pattern1_rate"] }}%)
<span>{{ action["pattern1"] }}</span>
</td>
<td>
{% set skill_list = action["pattern1"].split("-") %}
{% for s in skill_list %}
{% if s != "0" and s != 0 %}
{{ show_enemy_skill(s | int) }}
{% else %}
<table class="table"><tr><td>通常攻撃</td></tr></table>
{% endif %}
{% endfor %}
</td></tr>
{% if action["pattern2"] %}
<tr>
<td>パターン2({{ action["pattern2_rate"] }}%)
<span>{{ action["pattern2"] }}</span>
</td>
<td>
{% set skill_list = action["pattern2"].split("-") %}
{% for s in skill_list %}
{% if s != "0" and s != 0 %}
{{ show_enemy_skill(s | int) }}
{% else %}
<table class="table"><tr><td>通常攻撃</td></tr></table>
{% endif %}
{% endfor %}
</td></tr>
{% endif %}
{% if action["pattern3"] %}
<tr>
<td>パターン3({{ action["pattern3_rate"] }}%)
<span>{{ action["pattern3"] }}</span>
</td>
<td>
{% set skill_list = action["pattern3"].split("-") %}
{% for s in skill_list %}
{% if s != "0" and s != 0 %}
{{ show_enemy_skill(s | int) }}
{% else %}
<table class="table"><tr><td>通常攻撃</td></tr></table>
{% endif %}
{% endfor %}
</td></tr>
{% endif %}
{% endfor %}

<table class="table">
{% for action_id in actions.index if action_id not in [334, 331] %}
{% set action = data["EnemyAction"].loc[action_id] %}
<tr><td rowspan="{{ 3 if action["pattern3"] else 2 if action["pattern2"] else 1}}">HP:{{ action["action_hp"] }}% (ID: {{ action_id }})</td>
<td>パターン1({{ action["pattern1_rate"] }}%)
<span>{{ action["pattern1"] }}</span>
</td>
<td>
{% set skill_list = action["pattern1"].split("-") %}
{% for s in skill_list %}
{% if s != "0" and s != 0 %}
{{ show_enemy_skill(s | int) }}
{% else %}
<table class="table"><tr><td>通常攻撃</td></tr></table>
{% endif %}
{% endfor %}
</td></tr>
{% if action["pattern2"] %}
<tr>
<td>パターン2({{ action["pattern2_rate"] }}%)
<span>{{ action["pattern2"] }}</span>
</td>
<td>
{% set skill_list = action["pattern2"].split("-") %}
{% for s in skill_list %}
{% if s != "0" and s != 0 %}
{{ show_enemy_skill(s | int) }}
{% else %}
<table class="table"><tr><td>通常攻撃</td></tr></table>
{% endif %}
{% endfor %}
</td></tr>
{% endif %}
{% if action["pattern3"] %}
<tr>
<td>パターン3({{ action["pattern3_rate"] }}%)
<span>{{ action["pattern3"] }}</span>
</td>
<td>
{% set skill_list = action["pattern3"].split("-") %}
{% for s in skill_list %}
{% if s != "0" and s != 0 %}
{{ show_enemy_skill(s | int) }}
{% else %}
<table class="table"><tr><td>通常攻撃</td></tr></table>
{% endif %}
{% endfor %}
</td></tr>
{% endif %}
{% endfor %}

{% endblock %}
