{% extends "base.html" %}
{% set title = "Exバトルリスト : 感染×少女SP版 DB" %}
{% macro show_item(t, i, n, r) %}
{% if t == 0 %}
{% else %}
{% if t == 1 %}
{{ data["Item"].loc[i]["name"] }} * {{ n }}
{% elif t == 5 %}
{% set c = data["Chara"].loc[i] %}
{{ c["name"] }}({{ rare[c.rare] }}{{ rank[c["rank"]] }})
{% elif t == 6 %}
{{ n }}マニー
{% elif t == 7 %}
{{ n }}ダイヤ
{% else %}
{{ t }}/{{ i }}/{{ n }}
{% endif %}
@{{ r }}%
{% endif %}
{% endmacro %}
{% block content %}
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>EXP</th>
      <th>マニー</th>
      <th>報酬1</th>
      <th>報酬2</th>
      <th>報酬3</th>
      <th>報酬4</th>
      <th>報酬5</th>
    </tr>
  </thead>
  <tbody>
    {% for idx in data["Battle"].index %}
    {% set q = data["Battle"].loc[idx] %}
    <tr>
      <td>{{ idx }}</td>
      <td>{{ q["description"] }}</td>
      <td class="r">{{ q.exp }}</td>
      <td class="r">{{ q.gold }}</td>
      <td>{{ show_item(q.clear_present_type_1, q.clear_present_id_1, q.clear_present_num_1, q.clear_present_rate_1) }}</td>
      <td>{{ show_item(q.clear_present_type_2, q.clear_present_id_2, q.clear_present_num_2, q.clear_present_rate_2) }}</td>
      <td>{{ show_item(q.clear_present_type_3, q.clear_present_id_3, q.clear_present_num_3, q.clear_present_rate_3) }}</td>
      <td>{{ show_item(q.clear_present_type_4, q.clear_present_id_4, q.clear_present_num_4, q.clear_present_rate_4) }}</td>
      <td>{{ show_item(q.clear_present_type_5, q.clear_present_id_5, q.clear_present_num_5, q.clear_present_rate_5) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
