{% extends "base.html" %}
{% set title = "ストーリーバトルリスト : 感染×少女SP版 DB" %}
{% macro show_item(t, i, n, r) %}
{% if t > 0 %}
{% if t == 1 %}
{{ data["Item"].loc[i]["name"] }} * {{ n }}
{% elif t == 5 %}
{% set c = data["Chara"].loc[i] %}
{{ c["name"] }}({{ rare[c.rare] }}{{ rank[c["rank"]] }})
{% elif t == 7 %}
ダイヤ * {{ n }}
{% else %}
{{ t }}/{{ i }}/{{ n }}
{% endif %}
@{{ r }}%
{% endif %}
{% endmacro %}
{% block content %}
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>EXP</th>
      <th>マニー</th>
      <th>スタミナ</th>
      <th>初回報酬</th>
      <th>報酬1</th>
      <th>報酬2</th>
      <th>報酬3</th>
      <th>報酬4</th>
      <th>報酬5</th>
    </tr>
  </thead>
  <tbody>
    {% for idx in data["Quest"].index %}
    {% set q = data["Quest"].loc[idx] %}
    <tr>
      <td>{{ idx }}</td>
      <td>{{ q["name"] }} {{ q.name_sub }}</td>
      <td>{{ q.exp }}</td>
      <td>{{ q.money }}</td>
      <td>{{ q.stamina }}</td>
      <td>{{ show_item(q.first_result_type, q.first_result_item, q.first_result_num, 100) }}</td>
      <td>{{ show_item(q.result_type1, q.result_item1, q.result_num1, q.result_probability1) }}</td>
      <td>{{ show_item(q.result_type2, q.result_item2, q.result_num2, q.result_probability2) }}</td>
      <td>{{ show_item(q.result_type3, q.result_item3, q.result_num3, q.result_probability3) }}</td>
      <td>{{ show_item(q.result_type4, q.result_item4, q.result_num4, q.result_probability4) }}</td>
      <td>{{ show_item(q.result_type5, q.result_item5, q.result_num5, q.result_probability5) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
