{% extends "base.html" %}
{% set title = "クエスト敵 : 感染×少女SP版 DB" %}
{% macro show_item(t, i, n, box, rate) %}
{% if t == 0 %}
{% else %}
{% if t == 1 %}
{{ data["Item"].loc[i]["name"] if i in data["Item"].index else "--" }} * {{ n }}
{% elif t == 2 %}
{{ data["Weapon"].loc[i]["name"] }} * {{ n }}
{% elif t == 3 %}
{{ data["Armor"].loc[i]["name"] }}[{{ i }}] * {{ n }}
{% elif t == 4 %}
{{ data["Dna"].loc[i]["name"] }} * {{ n }}
{% elif t == 5 %}
{% set c = data["Chara"].loc[i] %}
{{ c["name"] }}({{ rare[c.rare] }}{{ rank[c["rank"]] }})
{% elif t == 6 %}
{{ n }}マニー
{% elif t == 7 %}
ダイヤ * {{ n }}
{% else %}
{{ t }}/{{ i }}/{{ n }}
{% endif %}
@{{ rate }}%
/box:{{ box }}
<br>
{% endif %}
{% endmacro %}

{% macro show_enemy(p, eid) %}
{% if eid in data["Enemy"].index %}
{% set en = data["Enemy"].loc[eid] %}
<b>
  <a href="{{ url_for('enemy', eid=eid) }}">
    {{ en["name"] }} ({{ en.kana }})</a></b>＠{{ p }}%<br/>
    HP:{{ en["minHP"] | int }}-{{ en["maxHP"] | int }}
    物攻:{{ en["minAP"] }}-{{ en["maxAP"] }}
    化攻:{{ en["minAC"] }}-{{ en["maxAC"] }}<br>
    物防:{{ en["minDP"] }}-{{ en["maxDP"] }}
    化防:{{ en["minDC"] }}-{{ en["maxDC"] }}<br>
    {% if en["weakpiont"] != 0 %}
    弱点：{{ club[en["weakpiont"] | int] }}
    {% endif %}
    {% if en["strongpoint"] != 0 %}
    耐性：{{ club[en["strongpoint"] | int] }}
    {% endif %}<br>
{{ show_item(en.item_type_1, en.item_id_1, en.item_num_1, en.item_box_1, en.item_rate_1) }}
{{ show_item(en.item_type_2, en.item_id_2, en.item_num_2, en.item_box_2, en.item_rate_2) }}
{{ show_item(en.item_type_3, en.item_id_3, en.item_num_3, en.item_box_3, en.item_rate_3) }}
{{ show_item(en.item_type_4, en.item_id_4, en.item_num_4, en.item_box_4, en.item_rate_4) }}
{{ show_item(en.item_type_5, en.item_id_5, en.item_num_5, en.item_box_5, en.item_rate_5) }}
{% elif eid == 0 %}
{% else %}
Unknown id {{ eid }}
{% endif %}
{% endmacro %}

{% block content %}
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>コメント</th>
      <th>敵1</th>
      <th>敵2</th>
      <th>敵3</th>
      <th>敵4</th>
      <th>敵5</th>
    </tr>
  </thead>
  <tbody>
    {% for idx in data["QuestEnemy"].index %}
    {% set quest = data["QuestEnemy"].loc[idx] %}
    <tr>
      <td>{{ idx }}</td>
      <td>{{ quest.comment }}</td>
      <td>{{ show_enemy(quest.probability1, quest.enemy_id1) }}</td>
      <td>{{ show_enemy(quest.probability2, quest.enemy_id2) }}</td>
      <td>{{ show_enemy(quest.probability3, quest.enemy_id3) }}</td>
      <td>{{ show_enemy(quest.probability4, quest.enemy_id4) }}</td>
      <td>{{ show_enemy(quest.probability5, quest.enemy_id5) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
