{% extends "base.html" %}
{% set title = "武器リスト : 感染×少女SP版 DB" %}
{% block content %}
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>レア</th>
      <th>ランク</th>
      <th>名前</th>
      <th>種別</th>
      <th>物攻</th>
      <th>化攻</th>
      <th>命中</th>
      <th>回避</th>
      <th>突破力</th>
      <th>突破率</th>
      <th>コメント</th>
      <th>説明</th>
      <th>強化元</th>
      <th>消費</th>
    </tr>
  </thead>
  <tbody>
    {% for idx in data["Weapon"].index %}
    {% set weapon = data["Weapon"].loc[idx] %}
    <tr>
      <td>{{ idx }}</td>
      <td>{{ rare[weapon.rare] }}</td>
      <td>{{ rank[weapon["rank"]] }}</td>
      <td>{{ weapon["name"] }}</td>
      <td>{{ weapon.kind }}</td>
      <td class="r">{{ weapon.damP }}</td>
      <td class="r">{{ weapon.damC }}</td>
      <td class="r">{{ weapon.hit_rate }}</td>
      <td class="r">{{ weapon.avoidance }}</td>
      <td class="r">{{ weapon.pen_cnt }}</td>
      <td class="r">{{ weapon.penetrate }}</td>
      <td>{{ weapon.comment }}</td>
      <td>{{ weapon.description }}</td>
      {% set im = data["ItemMake"][data["ItemMake"].type == 2] %}
      {% set baseitem = im[(im.make_id == idx)] %}
      {% if baseitem.empty %}
        <td><br /></td><td><br /></td>
      {% else %}
        <td>
          {% for b_idx in range(baseitem.index.values|length) %}
          {{ data["Weapon"].loc[baseitem.index.values[b_idx]]["name"] if baseitem.index.values[b_idx] != 124005}}
          [{{ baseitem.index.values[b_idx] }}]
          {% if not loop.last %}<hr/>{% endif %}
          {% endfor %}
        </td>
        <td>
        {% for b_idx in range(baseitem.index.values|length) %}
          {% set m1 = baseitem.material1.values[b_idx] %}
          {% if m1 != 0 %}
          {{ data["Item"].loc[m1]["name"] }}x{{ baseitem.material1_num.values[b_idx] }}
          {% endif %}
          /
          {% set m2 = baseitem.material2.values[b_idx] %}
          {% if m2 != 0 %}
          {{ data["Item"].loc[m2]["name"] }}x{{ baseitem.material2_num.values[b_idx] }}
          {% endif %}
          /
          {% set m3 = baseitem.material3.values[b_idx] %}
          {% if m3 != 0 %}
          {{ data["Item"].loc[m3]["name"] }}x{{ baseitem.material3_num.values[b_idx] }}
          {% endif %}
          /
          {% set m4 = baseitem.material4.values[b_idx] %}
          {% if m4 != 0 %}
          {{ data["Item"].loc[m4]["name"] }}x{{ baseitem.material4_num.values[b_idx] }}
          {% endif %}
          /
          {% set m5 = baseitem.material5.values[b_idx] %}
          {% if m5 != 0 %}
          {{ data["Item"].loc[m5]["name"] }}x{{ baseitem.material5_num.values[b_idx] }}
          {% endif %}
	  + {{ baseitem.money.values[b_idx] }}マニー
          :{{ baseitem.success_percent.values[b_idx] }}%
          {% if not loop.last %}<hr />{% endif %}
        {% endfor %}
        </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
